body {
  font-family: Arial;
  background: #f2f2f2;
  display: flex;
  justify-content: center;
  padding-top: 40px;
}

.container {
  background: white;
  padding: 20px;
  width: 300px;
  border-radius: 6px;
}

input {
  width: 100%;
  padding: 8px;
  margin-bottom: 10px;
}

li {
  list-style: none;
  padding: 6px;
  border-bottom: 1px solid #ddd;
}
